* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



input[type=number] {
    -moz-appearance: textfield;
  }

:root {
    --background: #444;
    --main-text: #aaa;
    --header: #222;
    --button: #227;
    --button-text: #99f;
    --button-hover: #43d;
    --remove-button: #812;
    --remove-button-hover: #b12;
    --remove-button-text: #f22;
    --book-card-background: #222;
    --book-info-background: #55a;
    --book-completed-border: #1a1;
    --book-completed-info: #050;

}

.hidden {
    display: none;
}

body {
    background-color: var(--background);
    font-family: 'Lexend Mega', sans-serif;
    font-size: 0.8rem;
    line-height: 2rem;
}


h1 {
    background-color: var(--header);
    text-align:center;
    color: var(--main-text);
    padding: 1rem 0;

}
#button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.button {
    background-color: var(--button);
    border: 0;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
    color: var(--button-text);
    cursor: pointer;
    transition: 0.2s;

}

.button:hover {
    background-color: var(--button-hover);
}

.book-card-remove, #form-close-button {
    background-color: var(--remove-button);
    color: var(--remove-button-text)
}

.book-card-remove:hover, #form-close-button:hover {
    background-color: var(--remove-button-hover);
}


.form {
    display: flex;
    flex-direction: column;
}

.label-input {
    margin: 0.5rem 0;
    color: var(--main-text)
}

.label-input input {
    width: 100%;
    padding: 1rem;

}

.label-input label {
    display: block;
}

.form-button {
    width: 5rem;
}

.form-button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#checkbox-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#books-grid {
    margin-top: 1rem;
}

.book-card {
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1rem;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    background-color: var(--book-card-background);
    overflow: hidden;
    margin-top: 1rem;      
}



.book-card-author, .book-card-title, .book-card-pages {
    display: flex;
    width: 100%;
    background-color: var(--book-info-background);

    
}

.book-card-author {
    margin-top: 5%;
}


.book-card-header-detail {
    font-weight: bold;  
    
    }

.book-card-title {
}

.book-card-header-detail, .book-card-header-content {
    width: 100%;
}


.book-card-pages {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;

}

.book-card-read-div {
    display: flex;
    align-items: center;
    background-color: var(--book-card-background);
    position: relative;
    bottom: 0

    
}

.book-card-button {
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
}

.read {
    border: 3px solid var(--book-completed-border);
    
}


/* Tablet media query time*/

@media only screen and (min-width: 768px){

    #books-grid{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    }

   
}

@media only screen and (min-width: 1024px){
    #books-grid{
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr)
    }

    #form-section {
        width: 70%;
        margin: auto;
        border: 10px solid #000;
        border-radius: 5px;
        padding: 10px;
    }



}